doctype html
html
    head
        title Teste
        meta(charset="UTF-8")
        link(href="css/main.css" rel="stylesheet")
    body
        .main
            header.main__header
                .search-component
                    form.search-component__form(action="http://g1.globo.com/busca" method="get")
                        .search-component__container-fields
                            input.search-component__field(type="text" placeholder="BUSCAR" id="search-component__field")
                            label(for="search-component__field")
                        .search-component__autocomplete.autocomplete
                            ul
                                li.autocomplete__item.autocomplete__item--hightlights
                                    img(src="http://lorempixel.com/50/50")
                                    span Pop & Arte
                                li.autocomplete__item
                                    ul
                                        li.autocomplete__item.autocomplete__item--info Sugestões de busca
                                        li.autocomplete__item musica
                                        li.autocomplete__item musica de anderson freire
                                        li.autocomplete__item musica que neymar pediu
                                li.autocomplete__item Busca 'musica' na Globo.com
                                li.autocomplete__item Busca 'musica' na Web

            section.main__content
        script(src="js/bundle.js")


